
<!-- Services Section Begin -->
<section  class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->



<!-- Search Begin -->

<!-- Search End -->

<!-- Js Plugins -->
<script src="users/js/jquery-3.3.1.min.js"></script>
<script src="users/js/bootstrap.min.js"></script>
<script src="users/js/jquery.magnific-popup.min.js"></script>
<script src="users/js/jquery-ui.min.js"></script>
<script src="users/js/mixitup.min.js"></script>
<script src="users/js/jquery.countdown.min.js"></script>
<script src="users/js/jquery.slicknav.js"></script>
<script src="users/js/owl.carousel.min.js"></script>
<script src="users/js/jquery.nicescroll.min.js"></script>
<script src="users/js/main.js"></script>
</body>

</html>